<div class="container d-flex justify-content-center margin-negativa col-10">
  <nav class="navbar bg-success bg-gradient shadow-sm">
    <div class="container ">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-around" id="navbarNavAltMarkup">
        <div class="navbar-nav ">
          <a class="nav-link active text-white mx-5" aria-current="page" href="#">Valoriza Cooperado</a>
          <div class="border-end"></div>
          <a class="nav-link text-white mx-5" href="#">Como funciona?</a>
          <div class="border-end"></div>
          <a class="nav-link text-white mx-5" href="#">Critérios de Elegibilidade</a>
          <div class="border-end"></div>
          <a class="nav-link text-white mx-5" href="#">Dúvidas</a>
          <div class="border-end"></div>
          <a class="nav-link text-white mx-5" href="#">Seus Resultados</a>
        </div>
      </div>
    </div>
  </nav>
</div>